<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="cosmos.css">
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
  </head>
  <body>
    <div class="box">
      <form id="searchform">
        <input type="text" name="query" placeholder="Enter City" class="searchbar">
      </form>
      <div class="wave one"></div>
      <div class="wave two"></div>
      <div class="wave three"></div>
      <div id="weathercon">
      </div>
      <div class="info">
        <h2 class="location"><i class="fas fa-street-view"></i></h2>
        <p id="date"></p>
        <h1 class="temp"></h1>
        <h3 class="tempmin_max"></h3>
      </div>
    </div>
    <script>
  
    </script>
    <script src="cosmos.js"></script>
  </body>
</html>
